#menu a {
	color: white;
}

.line {
	height: 10px;
	background-color: black;
}

#contact {
	text-align: center;
}

iframe {
	width: 100%;
	height: 100%;
}

.mmi {
	border-radius: 10px;
	font-size: 20px;
	width: 100%;
	padding: 6px 22px;
	display: inline-block;
}

.mmi i {
	float: right;
}

@media only screen and (max-width: 424px) {
	.abc {
		font-size: 20px;
	}
}


